<app-navigation-bar [role]="'doctor'"></app-navigation-bar>
<div class="doctor-container">
  <mat-card class="doctor-card">
    <h2>Doctor Profile</h2>
    <form
      [formGroup]="doctorForm"
      (ngSubmit)="updateDoctorData()"
      class="form-container"
    >
      <mat-grid-list cols="2" rowHeight="100px" gutterSize="16px">
        <mat-grid-tile
          *ngFor="let control of doctorForm.controls | keyvalue"
          [colspan]="1"
          [rowspan]="1"
        >
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ control.key | titlecase }}</mat-label>
            <input matInput [formControlName]="control.key" />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <button mat-raised-button color="primary" type="submit">Edit Info</button>
    </form>
  </mat-card>

  <h3 class="appointments-header">Appointments</h3>
  <mat-form-field appearance="fill">
    <mat-label>Select Date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      (dateChange)="onDateChange($event.value)"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="appointments-container">
    <mat-card
      *ngFor="let appointment of filteredAppointments"
      class="appointment-card"
      (click)="openAppointmentDialog(appointment)"
    >
      <mat-card-header>
        <mat-card-title>{{ appointment.patientName }}</mat-card-title>
        <mat-card-subtitle>
          {{ appointment.date | date : "dd/MM/YYYY" }} -
          {{ appointment.timeSlot }} - {{ appointment.status }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          <strong>Animal:</strong>
          {{ appointment.animal ? appointment.animal.name : "Unknown Animal" }}
        </p>

        <div *ngIf="appointment.animal" class="animal-info">
          <mat-chip-list>
            <mat-chip color="primary" selected>
              <strong>Weight:</strong> {{ appointment.animal.weight }} kg
            </mat-chip>
            <mat-chip color="accent" selected>
              <strong>Age:</strong> {{ appointment.animal.age }} years
            </mat-chip>
            <mat-chip color="warn" selected>
              <strong>Breed:</strong> {{ appointment.animal.breed }}
            </mat-chip>
            <p>Reason: {{ appointment.reason }}</p>
          </mat-chip-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
