<div class="container">
  <h2>Register a new  account</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <mat-form-field appearance="fill">
      <mat-label class="kicus-label">Full Name</mat-label>
      <input class="kicus-input" matInput type="text" formControlName="fullName" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="kicus-label">Phone Number</mat-label>
      <input class="kicus-input" matInput type="text" formControlName="phoneNumber" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="kicus-label">Email</mat-label>
      <input class="kicus-input" matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="kicus-label">Password</mat-label>
      <input class="kicus-input" matInput type="password" formControlName="password" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="kicus-label">Account Type</mat-label>
      <mat-select class="kicus-input" formControlName="accountType">
        <mat-option value="patient">Patient</mat-option>
        <mat-option value="doctor">Doctor</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Specialization Field (Visible Only for Doctors) -->
    <mat-form-field
      *ngIf="registerForm.get('accountType')?.value === 'doctor'"
      appearance="fill"
    >
      <mat-label class="kicus-label">Select Specialization</mat-label>
      <mat-select class="kicus-input" formControlName="specialization">
        <mat-option *ngFor="let spec of specializations" [value]="spec">
          {{ spec }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      class="kicus-primary-button"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
  </form>
</div>
