<div class="patient-container">
  <mat-card class="patient-card">
    <h2>Patient Profile</h2>
    <form
      [formGroup]="patientForm"
      (ngSubmit)="updatePatientData()"
      class="form-container"
    >
      <mat-grid-list cols="2" rowHeight="100px" gutterSize="16px">
        <mat-grid-tile
          *ngFor="let control of patientForm.controls | keyvalue"
          [colspan]="1"
          [rowspan]="1"
        >
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ control.key }}</mat-label>
            <input matInput [formControlName]="control.key" />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 20px;
        "
      >
        <button mat-raised-button color="primary" (click)="goToAppointments()">
          Schedule an Appointment
        </button>

        <button mat-raised-button color="primary" type="submit">
          Edit Info
        </button>
      </div>
    </form>
  </mat-card>

  <h3 class="animals-header">My Animals</h3>
  <button mat-raised-button color="accent" (click)="openAnimalDialog()">
    Add New Animal
  </button>

  <div class="animals-container">
    <mat-card
      *ngFor="let animal of animals"
      class="animal-card"
      (click)="openAnimalEditDialog(animal)"
    >
      <mat-card-header>
        <mat-card-title>{{ animal.name }}</mat-card-title>
        <mat-card-subtitle>
          {{ animal.species }} - {{ animal.breed }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Age: {{ animal.age }} years</p>
        <p>Weight: {{ animal.weight }} kg</p>
        <p>Notes: {{ animal.notes }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
