<div class="patient-container container">
  <mat-card class="patient-card">
    <h4>Profile</h4>
    <form
      [formGroup]="patientForm"
      (ngSubmit)="updatePatientData()"
      class="form-container"
    >
      <mat-grid-list class="personal-details" cols="2" rowHeight="100px" gutterSize="16px">
        <mat-grid-tile
          *ngFor="let control of patientForm.controls | keyvalue"
          [colspan]="1"
          [rowspan]="1"
        >
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ control.key }}</mat-label>
            <input matInput [formControlName]="control.key" />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 20px;
        "
      >

        <!-- <button mat-raised-button color="primary" type="submit">
          Update Info
        </button> -->
      </div>
    </form>
  </mat-card>

  <h5 class="animals-header">Your pets</h5>
  
  <div class="animals-container">
    <button class="animal-card" mat-raised-button color="accent" (click)="openAnimalDialog()">
      <div class="add-icon">+</div>
      <mat-card-header>
        <mat-card-title class="animal-name">Add Pet</mat-card-title>
      </mat-card-header>
    </button>
    <mat-card
      *ngFor="let animal of animals"
      class="animal-card"
      (click)="openAnimalEditDialog(animal)"
    >
      <img src="hamster.png" alt="Animowany chomik trzymający pestkę" />
      <mat-card-header>
        <mat-card-title class="animal-name">{{ animal.name }}</mat-card-title>
        <!-- <mat-card-subtitle>
          {{ animal.species }} - {{ animal.breed }}
        </mat-card-subtitle> -->
      </mat-card-header>
      <!-- <mat-card-content>
        <p>Age: {{ animal.age }} years</p>
        <p>Weight: {{ animal.weight }} kg</p>
        <p>Notes: {{ animal.notes }}</p>
      </mat-card-content> -->
    </mat-card>
    <button
          class="kicus-primary-button"
          mat-raised-button
          color="primary"
          type="button"
          (click)="goToAppointments()"
        >
          Schedule an Appointment
        </button>
  </div>
</div>
